.footer {
  background-color: #343a40;
  padding: 1rem 0;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-link {
  color: #f8f9fa;
  font-size: 2rem;
  margin: 0 1rem;
  text-decoration: none;
}

.social-link:hover {
  color: #007bff;
}
