.about-me {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.about-me-avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2rem;
}

.about-me-text {
  font-size: 1.2rem;
  line-height: 1.5;
}
